@import url('https://fonts.googleapis.com/css?family=Rubik'); 

.contain h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  color: #0062b1;
}

.form-stuff {
  font-family: 'Rubik', sans-serif;
  color: #0062b1;
}